<script>
  $(document).ready(function()
  {
    $("#n3").css("background-color","white");
    $("#n3").css("border-top","4px solid #441d8d");
    $("#n3").css("border-top-right-radius","10px");
    $("#n3").css("color","black");
    $("title").text($("title").text() +" - Pesquisas");
  })
</script>
<h4>Projetos de Pesquisa: </h4>

<% if session[:permission] == 'admin' %>
  <%= link_to image_tag("doc_add.png", :title => "Adicionar pesquisa"), new_pesquisa_path %>
<% end %> 

<% @pesquisa.each do |p| %>
  <h4><%= link_to p.nome, p %></h4>
  <% if session[:permission] == 'admin' %>
    <%= link_to image_tag("edit-icon.png", :size => "16x16", :title => "Editar"),edit_pesquisa_path(p) %>
    <%= link_to image_tag("trash-icon.png", :size => "16x16", :title => "Deletar"), p, :confirm => 'Are you sure you want to delete '+p.nome+'?', :method => :delete %>
  <% end %>
<% end %>
