<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div style="float:right;">
      <%= image_tag "FOTEQ2.png" %>
    </div>
    <h4>Contato do FOTEQ</h4>
    <p>
      De: <%= @name %>
    </p>
    <p>
      E-mail: <%= @from %>
    </p>
    <p>
      Mensagem: <%= @msg %>
    </p>
  </body>
</html>
