// Place all the styles related to the Participantes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
td
{
	padding:6px;
}
td a
{
	color:black;
	text-decoration:none;
}
td a:hover
{
	color:black;
	text-decoration:underline;
}
#p_img img
{
	float:left;
	max-width:165px;
	max-height:200px;
}
form label
{
	float:left;
}
form input
{
	display:block;
}
#part_menu_parent
{
	background-color:rgb(225,225,225);
	height:26px;
}
#part_menu
{
	float:left;
	padding:0;
	margin:0;
	list-style:none;
}
#part_menu li
{
	cursor:pointer;
	font-size:11pt;
	width:150px;
	float:left;
	padding:4px 0 0 4px;
	height:22px;
}
#part_menu li:hover
{
	background-color:rgb(200,200,200);
}
#part_menu img
{
	float:left;
	margin-right:5px;
	display:inline;
}
#part_content
{
	margin:20px 0 0 0;
	padding:20px 5px 5px 5px;
	text-align:justify;
}
#part_content div
{
	display:none;
}
/*modal dialog box ... */
#boxes
{
	position:absolute;
	top:0;
	left:0;
}
#mask
{
	position:absolute;
	z-index:9000;
	background-color:#000;
	display:none;
}
#boxes .window
{
	position:absolute;
	width:440px;
	height:200px;
	display:none;
	z-index:9999;
	padding:0 0 0 10px;
}
#boxes #dialog
{
	width:500px;
	height:180px;
	background-color:white;
}
.close
{
	display:block;
	text-align:right;
}
/* ... end*/
